body {
  background: white;
}

.stroke {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.fill {
  fill: white;
}

.graticule {
  fill: none;
  stroke: grey;
  stroke-width: .5px;
  stroke-opacity: .5;
}

path#globe {
  fill: lightskyblue;
}

.land {
  fill: grey;
}

.boundary {
  fill: none;
  stroke: azure;
  stroke-width: .5px;
}

.label {
  font-size: .5em;
}

.active {
  fill: khaki;
}

text {
  font-family: "Helvetica", sans-serif;
  font-size: 2em;
  color: azure;
}