@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  background: black;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

h2, h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  white-space: nowrap;
  white-space: pre;
}

h1 {
  top: 80px;
  left: 962px;
  font-size: 2.2em;
  text-shadow: 0.7px 0.7px rgba(80,80,80,.8);
  height: 15px;
  display: inline-block;
}

h2 {
  top: 120px;
  left: 985px;
  font-size: 1.8em;
}

#container {
  display: block;
  position: relative;
  width: 1150px;
  left: 140px;
}

#map {
  display: inline-block;
  position: absolute;
  float: left;
}

#music {
  position: absolute;
  display: inline-block;
  background-color: grey;
  height: 380px;
  width: 300px;
  top: 200px;
  left: 800px;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.5em;
}
.stroke {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.fill {
  fill: white;
}

.graticule {
  fill: none;
  stroke: grey;
  stroke-width: .5px;
  stroke-opacity: .5;
}

path#globe {
  fill: #5D72FA;
}

.land {
  fill: #1D1D1D;
  cursor: pointer;
}

.boundary {
  fill: none;
  stroke: azure;
  stroke-width: .5px;
}

.label {
  font-size: .5em;
}

.active {
  fill: #88bd32;
}

text {
  font-size: 1em;
  fill: #FFFFFF;
}