@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  background: black;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

h2, h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
}

#container {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 805px;
  width: 1150px;
}

#map {
  display: inline-block;
  position: absolute;
  float: left;
}

#music {
  position: absolute;
  display: inline-block;
  background-color: grey;
  height: 380px;
  width: 300px;
  top: 200px;
  left: 800px;
  padding: 10px;
  border-radius: 3px;
}
.stroke {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.fill {
  fill: white;
}

.graticule {
  fill: none;
  stroke: grey;
  stroke-width: .5px;
  stroke-opacity: .5;
}

path#globe {
  fill: #5D72FA;
}

.land {
  fill: #1D1D1D;
  cursor: pointer;
}

.boundary {
  fill: none;
  stroke: azure;
  stroke-width: .5px;
}

.label {
  font-size: .5em;
}

.active {
  fill: #88bd32;
}

text {
  font-size: 1em;
  fill: #FFFFFF;
}